html {
  font-size: 62.5%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  color: #1b2b5f;
  font-weight: 400;
  margin-bottom: 10rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  justify-content: nowrap;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1b2b5f;
  transition: color 0.25s linear;
}
.header__menu-link:hover {
  color: #f7cd83;
}
.header__login {
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 1px solid;
  border-radius: 2.5rem;
}
.header__bars {
  display: none;
  padding: 1rem;
  border-radius: 15px;
}
.header__bars i {
  font-size: 3rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1b2b5f;
}
.logo__text {
  color: #f7cd83;
}

.banner {
  padding-top: 15rem;
  padding-bottom: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.banner__desc {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 4rem;
  color: #9199a4;
}
.banner__buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.banner__buttons .btn {
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1b2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  background-color: transparent;
}
.btn--border {
  border: 1px solid;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #f7cd83;
}
.btn--primary.has-shadow {
  box-shadow: 0 10px 35px -5px #f7cd83;
}

.category__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  width: calc(25% - 22.5px);
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__item:first-child {
  box-shadow: 0 20px 35px -5px rgba(254, 153, 197, 0.3);
}
.category__item:nth-child(2) {
  box-shadow: 0 20px 35px -5px rgba(255, 113, 109, 0.3);
}
.category__item:nth-child(3) {
  box-shadow: 0 20px 35px -5px rgba(134, 153, 255, 0.3);
}
.category__item:last-child {
  box-shadow: 0 20px 35px -5px rgba(253, 199, 124, 0.3);
}
.category__image {
  border-radius: inherit;
  object-fit: cover;
  width: 100%;
  height: 23rem;
  margin-bottom: 4rem;
}
.category__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__detail {
  font-size: 1.4rem;
  color: #adb0b9;
  margin-top: auto;
}
.category__detail i {
  margin-left: 1.5rem;
}
.category__detail:hover {
  text-decoration: underline;
}

.feature {
  padding-top: 18rem;
}
.feature__item {
  margin-bottom: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__image-block, .feature__info {
  width: 50%;
}
.feature__image {
  border-radius: 2rem;
  object-fit: cover;
  width: 100%;
  height: 65rem;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 4rem;
  line-height: 1.8;
  color: #9199a4;
}
.feature__intro-item {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 3rem;
}
.feature__intro-item--circle {
  padding-left: 4rem;
  text-decoration: none;
  position: relative;
}
.feature__intro-item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: translateY(-50%);
}
.feature__intro-item--circle:nth-child(1)::before {
  background-color: #fafa46;
}
.feature__intro-item--circle:nth-child(2)::before {
  background-color: #19fa45;
}
.feature__intro-item--circle:nth-child(3)::before {
  background-color: #fc9923;
}
.feature__intro-item--circle:nth-child(4)::before {
  background-color: #48fafa;
}
.feature__intro-best {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.feature__intro-best-item {
  width: calc(50% - 3rem);
  display: block;
  margin-bottom: 2rem;
}
.feature__intro-best-item:nth-child(1) .feature__intro-best-icon {
  color: #4caab3;
}
.feature__intro-best-item:nth-child(2) .feature__intro-best-icon {
  color: #f6cd4f;
}
.feature__intro-best-item:nth-child(3) .feature__intro-best-icon {
  color: #e868f6;
}
.feature__intro-best-item:nth-child(4) .feature__intro-best-icon {
  color: #3ef464;
}
.feature__intro-best-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 25%;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.feature__intro-best-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  opacity: 0.15;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
.feature__intro-best-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.feature__intro-best-desc {
  font-size: 1.3rem;
  font-weight: 400;
  color: #9199a4;
}

.partner {
  margin-bottom: 19rem;
}
.partner__container {
  max-width: 83rem;
  text-align: center;
}
.partner__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 3px solid currentColor;
}
.partner__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.partner__logo {
  transform: scale(0.7);
}

.connect {
  text-align: center;
  margin-bottom: 17rem;
}
.connect__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.connect__desc {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 6rem;
}
.connect__desc--primary {
  color: #f7cd83;
}
.connect__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.connect__item {
  max-width: calc(25% - 22.5px);
  border-radius: 20px;
}
.connect__img {
  border-radius: inherit;
  width: 100%;
  height: 110%;
}

.subscribe {
  margin-bottom: 5rem;
}
.subscribe__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-bottom: 8rem;
  border-bottom: 3px solid currentColor;
}
.subscribe__title, .subscribe__info {
  width: 50%;
}
.subscribe__title {
  font-size: 2rem;
  font-weight: 400;
  max-width: 43rem;
}
.subscribe__form {
  background-color: #f2f1f6;
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.subscribe__input {
  display: inline-block;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  padding-left: 2rem;
  height: 5rem;
  line-height: 5rem;
  flex-grow: 1;
}
.subscribe__button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: #1b2b5f;
  font-weight: 600;
  display: inline-block;
  line-height: 5rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  height: 5rem;
  padding: 0 2rem 0 2rem;
}
.subscribe__button:hover {
  background-color: #cbcbce;
}
.subscribe__social i {
  margin-left: 4rem;
  font-size: 2rem;
}

.links__container {
  padding-bottom: 20rem;
  border-bottom: 2px solid #adb0b9;
}
.links__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.links__items {
  display: block;
  width: 25%;
}
.links__item {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  color: #1b2b5f;
  width: fit-content;
}
.links__item:hover {
  text-decoration: underline;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 3rem;
}
.footer a {
  font-size: 1.3rem;
  font-weight: 400;
  color: #1b2b5f;
}

@media screen and (max-width: 1023px) {
  .banner {
    padding: 10rem;
  }
  .banner__heading {
    font-size: 6rem;
  }
  .banner__desc {
    font-size: 1.6rem;
  }
  .banner__buttons > .btn {
    font-size: 1.4rem;
    padding: 1.5rem 2.5rem;
  }

  .category__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .category__item {
    width: calc(50% - 5rem);
    margin-bottom: 5rem;
  }
  .category__item:nth-child(odd) {
    margin-right: 5rem;
  }

  .feature {
    padding-top: 10rem;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding-left: 6rem;
  }
  .feature__item:nth-child(even) .feature__info {
    padding-right: 6rem;
  }
  .feature__image {
    height: 60vh;
  }
  .feature__title {
    font-size: 4rem;
  }
  .feature__desc {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .feature__intro-item {
    margin-bottom: 1.5rem;
  }

  .partner {
    margin-bottom: 15rem;
  }

  .connect {
    margin-bottom: 15rem;
  }
  .connect__item {
    max-width: calc(25% - 10.5px);
  }

  .subscribe__title, .subscribe__info {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 2rem;
    padding: 2rem 1rem 0rem 1rem;
  }
  .header__inner {
    position: relative;
  }
  .header__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }
  .header__menu-list {
    background-color: #dddddd;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .header__menu-item {
    margin: 0 !important;
    padding: 1rem;
    width: 100%;
  }
  .header__menu-item:hover {
    background-color: #f7cd83;
  }
  .header__menu-item:hover a {
    color: #1b2b5f;
  }
  .header__bars {
    display: block;
    transition: background-color 1s;
    position: relative;
  }
  .header__bars:hover {
    cursor: pointer;
    background-color: #adb0b9;
  }
  .header__bars:focus + .header__menu {
    display: block;
  }

  .banner {
    padding: 4rem;
  }
  .banner__heading {
    font-size: 4rem;
  }
  .banner__desc {
    font-size: 1.1rem;
  }
  .banner__buttons > .btn {
    font-size: 1.2rem;
    padding: 1.2rem 2rem;
  }

  .category__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .category__item {
    width: calc(50% - 1rem);
    max-height: 250px;
    margin-bottom: 2rem;
  }
  .category__item:nth-child(odd) {
    margin-right: 1rem;
  }
  .category__detail {
    display: none;
  }
  .category__name {
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
  }
  .category__image {
    margin-bottom: 2rem;
  }

  .feature .feature__item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .feature .feature__item::nth-child(even) {
    flex-direction: column;
  }
  .feature__image-block, .feature__info {
    width: 100%;
    padding: 0 !important;
  }
  .feature__image {
    max-height: 30vh;
  }
  .feature__title {
    font-size: 2.7rem;
    text-align: center;
  }
  .feature__desc {
    font-size: 1.1rem;
  }
  .feature__intro-item {
    font-size: 1.2rem;
  }
  .feature__intro-best-icon {
    width: 3rem;
    height: 3rem;
  }
  .feature__intro-best-title {
    font-size: 1.3rem;
  }
  .feature__intro-best-desc {
    font-size: 1.1rem;
  }
  .feature__info > .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .partner {
    margin-bottom: 10rem;
  }
  .partner__title {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
  }

  .connect {
    margin-bottom: 10rem;
  }
  .connect__item {
    max-width: calc(50% - 1rem);
  }
  .connect__item:nth-child(3), .connect__item:last-child {
    display: none;
  }

  .subscribe__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .subscribe__title, .subscribe__info {
    width: 100%;
  }
  .subscribe__title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .links__container {
    padding-bottom: 10rem;
  }
  .links__list {
    padding-left: 3rem;
  }
  .links__items:first-child {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
